*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background: linear-gradient(to right, #1f2937, #000000, #1f2937);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}